<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcd5kB1w7JuzWwjUXj-qHWfI_4TDAXIHw</string>
	<key>GCM_SENDER_ID</key>
	<string>207476947929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NutriScan</string>
	<key>PROJECT_ID</key>
	<string>nutriscan-b274f</string>
	<key>STORAGE_BUCKET</key>
	<string>nutriscan-b274f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207476947929:ios:664e8a0d3c84eeba5677c8</string>
</dict>
</plist>